.footer {
  background: $bg1-color;
  padding-top: 178px;

  &__main {
    margin-top: 178px;
    background-color: $primary-color;
    border-radius: 10px;
    color: $tertiary-color;
    align-items: center;
    justify-content: center;
    padding: 71px 0px;
    position: absolute;
    left: 478px;
    top: 5807px;
    display: flex;

    &__title {
      font-family: "Montserrat";

      h3 {
        font-weight: 700;
        font-size: $fs-xl;
        line-height: 46px;
        padding-right: 40px;
        padding-left: 28px;
      }
    }

    &__btn {
      padding-right: 28px;
     
      button {
        padding: 18px 46px;
        font-family: "Arimo";
        font-weight: 400;
        font-size: $fs-sm;
        line-height: 18px;
        color: $des-color;
        border: 1px solid transparent;
      }
    }
  }

  &__boxes {
    display: grid;
    gap: 110px;
    padding-bottom: 68px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__box {
    color: $tertiary-color;

    &__title {
      font-family: "Montserrat";

      h3 {
        font-weight: 600;
        font-size: $fs-slg;
        line-height: 32px;
      }
    }

    &__CL {
      max-width: 298px;

      img {
        max-width: 298px;
        height: 100%;
      }
    }

    &__des {
      font-family: "Cabin";
      max-width: 300px;
      padding: 30px 0px;

      p {
        color: $tertiary-color;
        font-size: $fs-sm;
        font-weight: 400;
        line-height: 27px;
      }
    }

    &__logos {
      max-width: 131px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      img {
        max-width: 21px;
        height: 100%;
      }
    }

    &__ul {
      font-family: "Cabin";
      list-style: none;
    }

    &__li {
      font-weight: 400;
      font-size: $fs-sm;
      line-height: 27px;
    }

    &__Sub {
      display: flex;
      font-family: "Cabin";

      &__inp {
        max-width: 183px;
        font-weight: 400;
        font-size: $fs-sm;
        color: $des-color;
        line-height: 26px;
        padding-left: 22px;
      }

      &__btn {
        padding: 13px 28px;
        cursor: pointer;
        font-weight: 400;
        font-size: $fs-sm;
        color: $tertiary-color;
        line-height: 26px;
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }

  &__hr {
    hr {
      border: none;
      border-top:1px solid #F3F3F3;
    }
  }
  

  &__copy {
    display: flex;
    justify-content: space-between;
    color: $tertiary-color;
    padding: 35px 0px;
    font-family: "Cabin";

    &__copyright {
      p {
        font-size: $fs-sm;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }
}
