.GS {
  padding-top: 90px;

  &__title {
    h2 {
      font-size: $fs-xl;
      font-family: "Montserrat";
      font-weight: 700;
      line-height: 46px;
    }
  }

  &__des {
    padding: 30px 0;
    max-width: 780px;

    p {
      font-family: "Cabin";
      font-weight: 400;
      font-size: $fs-md;
      line-height: 28px;
      color: $des-color;
    }
  }

  &__boxes {
    display: grid;
    padding-top: 30px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__box {
    max-width: 367px;
    padding: 38px 0px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    outline: 1px solid $primary-color;
    border-bottom: 4px solid transparent;

    &__title {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: $fs-lg;
      line-height: 34px;
      padding-bottom: 20px;
      padding-top: 16px;
    }

    &__des {
      max-width: 126px;
      margin-left: auto;
      margin-right: auto;
      font-family: "Cabin";
      font-weight: 400;
      color: $des-color;

      p {
        font-size: $fs-sm;
        line-height: 26px;
      }
    }

    &__des1 {
      max-width: 212px;
      margin-left: auto;
      margin-right: auto;
      color: $des-color;
      font-family: "Cabin";
      font-weight: 400;

      p {
        font-size: $fs-sm;
        line-height: 26px;
      }
    }

    &:hover {
      cursor: pointer;
      border: none;
      outline: none;
      border-bottom: 4px solid $primary-color;
      box-shadow: 0px 4px 10px #cecece;
      border-radius: 15px;
    }
  }
}
