.HCS {
  background-color: $primary-color;

  &__container {
    padding: 60px 0px;
  }

  &__title {
    padding: 45px 0px 50px;
    font-family: "Montserrat";
    background-color: $tertiary-color;

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: $fs-xl;
      line-height: 46px;
      color: $secondary-color;
    }
  }
}

.splide {
  background-color: transparent;

  &__slide img {
    vertical-align: bottom;
    width: 100%;
  }

  &__arrow {
    width: 49px !important;
    height: 49px !important;
    background-color: $tertiary-color !important;
    opacity: 1 !important;

    &--next {
      right: -5em !important;
    }

    &--prev {
      left: -5em !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .splide {
    &__arrow {
      width: 30px !important;
      height: 30px !important;

      &--next {
        right: -2em !important;
      }

      &--prev {
        left: -2em !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .splide {
    &__arrow {
      width: 27px !important;
      height: 27px !important;

      &--next {
        right: -1.5em !important;
      }

      &--prev {
        left: -1.5em !important;
      }
    }
  }
}

