.HCS {
  background-color: #f38120;

  &__container {
    padding: 60px 0px;
  }

  &__title {
    padding: 45px 0px 50px;
    font-family: "Montserrat";
    background-color: $tertiary-color;

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: $fs-xl;
      line-height: 46px;
      color: $secondary-color;
    }
  }
}

.splide__arrow--next {
  right: -5em !important;
}

.splide__arrow--prev {
  left: -5em !important;
}

.splide__arrow {
  width: 49px !important;
  height: 49px !important;
  background-color: $tertiary-color !important;
  opacity: 1 !important;
}

.splide {
  background-color: transparent;
}

.splide__slide img {
  vertical-align: bottom;
  width: 100%;
}
