.TS {
  padding: 45px 0px 90px;

  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    padding-bottom: 50px;

    h2 {
      font-size: $fs-xl;
      line-height: 46px;
    }
  }

  &__client__img {
    position: absolute;
    top: 142rem;
    max-width: 54.95px;

    img {
      max-width: 54.95px;
      // height: 55px;
      height: 100%;
    }
  }
}
