// Colors
$primary-color: #f38120;
$secondary-color: #332f2f;
$tertiary-color: #ffffff;
$des-color: #777777;
$bg-color: #f6f6f6;
$bg1-color: #2b2b2b;

// Font sizes
$fs-xxl: 55px;
$fs-l: 45px;
$fs-xl: 36px;
$fs-slg: 22px;
$fs-lg: 24px;
$fs-md: 18px;
$fs-sm: 16px;
$fs-xs: 14px;

// Breakpoints
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xlarge: 1200px;
$screen-XX-Large:1400px;



